<!doctype html>
<html>
  <head>
    <title><%= shopData.shopName %> - Book List</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>

  <body>
    <h1>Available Books at <%= shopData.shopName %></h1>

    <% if (availableBooks.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>

        <tbody>
          <% availableBooks.forEach(function(book) { %>
            <tr>
              <td><%= book.id %></td>
              <td><%= book.name %></td>
              <td>£<%= book.price %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <p>No books available.</p>
    <% } %>

    <p><a href="/">Back to Home</a></p>
  </body>
</html>
